################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/CryptoTracker.Server/.vs
/CryptoTracker.Server/bin/Debug/net8.0
/CryptoTracker.Server/obj
